{% extends 'base.html' %}

{% block title %}Signed Out{% endblock %}

{% block content %}
    <div class="form-on-page container h-100">
        <p>You've been signed out.</p>
        <a href="{% url 'login' %}">Click here to sign in again</a>
    </div>
{% endblock %}