{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="form-on-page">
        <div class="container">
            <h2>Sign In</h2>
        </div>
        <div class="container u-100">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>
{% endblock %}