.form-on-page {
    margin-top: 20px;
    margin-bottom: 20px;

}

.form-on-page .thesubmitbutton {
    display: block;
    padding-top: 15px;
}
.thesubmitbutton {
    display: block;
    padding-top: 15px;
}

#backgroundbody {
    transition: all 1s ease;
}

.failed {
    background: red !important;
}

.success {
    background: green;
}

.warning {
    background: orange;
}

.bg-admin {
    background: darkcyan;
}
.hidden {
    display: none;
}

.form-block {
    display: inline-block;
}

.box-container {
    display: inline-block;
}

.box-child {
    width: 45%;
    display: inline-block;
}

.box-timer {
    width: 45%;
    margin-left: 10%;
    display: inline-block;
    border: 2px solid gray;
    border-radius: 0px 15px 0px 15px;
}

.history {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid gray;
    border-radius: 0px 15px 0px 15px;
}

.pagination {
    justify-content: center;
}

.card-narrow {
    width: 400px;
}

.form-left {
    width: 200px;
    float: left;
}

.cd-timer {
    align-content: center;
    width: 200px;
    float: right;
}

#progressBar {
    width: 100%;
}

.admin-links-disabled {
    color: gray;
}