<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap-solar.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <title>6SM Ticket Manager</title>
    {% block head %}
    {% endblock %}
</head>
<body id="backgroundbody">
    {% include 'navbar.html' %}
    {% block content %}
        base content
    {% endblock %}
    {% if messages %}
    <!-- <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul> -->
    {% endif %}
</body>
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <script type="text/javascript">
                console.log("success!");
                $("#backgroundbody").addClass("success");
                setTimeout(function() {
                    $("#backgroundbody").removeClass("success");
                }, 2000);
            </script>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <script type="text/javascript">
                console.log("error!");
                $("#backgroundbody").addClass("failed");
                setTimeout(function() {
                    $("#backgroundbody").removeClass("failed");
                }, 2000);
            </script>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <script type="text/javascript">
                console.log("warning!");
                $("#backgroundbody").addClass("warning");
                setTimeout(function() {
                    $("#backgroundbody").removeClass("warning");
                }, 2000);
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
        
</html>