{% extends 'base.html' %}

{% block content %}
<div class="form-on-page">
    <div class="container">
        <h2>Ticketing</h2>
        <br>
        <div class="user-links">
            <h4><a href="{% url 'sell' %}">Sell</a></h4>
            <h4><a href="{% url 'redeem' %}">Redeem</a></h4>
        </div>
        {% if user.is_authenticated %}
        <div class="admin-links">
            <h4><a href="{% url 'bulkactivate' %}">Bulk Activate</a></h4>
            <h4><a href="{% url 'void' %}">Void</a></h4>
            <h4><a href="{% url 'all' %}">View Tickets</a></h4>
            <h4><a href="{% url 'settings' %}">Settings</a></h4>
        </div>
        {% else %}
        <div class="admin-links-disabled">
            <h4>Bulk Activate</h4>
            <h4>Void</h4>
            <h4>View Tickets</h4>
            <h4>Settings</h4>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}