<div class="container h-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Ticketing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'sell' %}">Sell<span class="sr-only">(current)</span></a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link bg-admin" href="{% url 'bulkactivate' %}">BulkActivate</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'redeem' %}">Redeem</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item bg-admin">
          <a class="nav-link" href="{% url 'void' %}">Void</a>
        </li>
        <li class="nav-item bg-admin">
          <a class="nav-link" href="{% url 'all' %}">View All</a>
        </li>
        <li class="nav-item bg-admin">
          <a class="nav-link" href="{% url 'settings' %}">Settings</a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-link">Hello, {{ user.first_name }}!</li>
        <li>
          <a class="btn btn-secondary" href="{% url 'logout' %}">Sign Out</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login' %}" class="btn btn-primary">Sign In</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
<script>
  $(document).ready(function () {
    $('li.active').removeClass('active');
    $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
  });
</script>
