{% extends 'base.html' %}

{% block content %}
<div class="form-on-page">
    <div class="container">
        <h3>Sell Tickets</h3>
    </div>
    <div class="container h-100">
        <h3>Send group every {{ groupinterval }} seconds.</h3>
        <form method="POST"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update Settings" class="btn btn-success"/>
        </form>
    </div>
</div>
{% endblock %}