{% extends 'base.html' %}

{% block content %}
<div class="form-on-page">
    <div class="container">
        <h3>Activate Ticket</h3>
    </div>
    <div class="container h-100">
        <form method="POST"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Activate" class="btn btn-success"/>
        </form>
    </div>
</div>
<div class="container h-100 history">
    <h2>History</h2>
    <ul class="list-group">
        {% for each in history %}
        <li class="list-group-item d-flex align-items-center">
            {% if each.1 == 'error' %}
                <span class="badge badge-pill badge-warning mr-2">ERROR</span>
            {% elif each.1 == 'warning' %}
                <span class="badge badge-pill badge-primary mr-2">WARNING</span>
            {% elif each.1 == 'info' %}
                <span class="badge badge-pill badge-info mr-2">INFO</span>
            {% elif each.1 == 'success' %}
                <span class="badge badge-pill badge-success mr-2">SUCCESS</span>
            {% endif %}
            {{ each.0 }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}