{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<div class="form-on-page container h-100">
    <h3>Redeem Ticket</h3>
    <div class="row">
           
                
            
        <div class="col-md-6">
            <form method="POST" action=""> {% csrf_token %}
            {{ form.as_p }}
            {% if ticket_group_len > 1 %}
                <div class="card text-white bg-info mb-3 card-narrow">
                    <h4>Redeem Whole Group of <strong>{{ ticket_group_len }}</strong>?</h4>
                    <ul>
                        {% for each in ticket_group %}
                        <li>{{ each.id }} - {{ each.couponcode }}</li>
                        {% endfor %}
                    </ul>
                    <p>Note: {{ group_notes }}</p>
                    <input type="submit" name="Only One" value="Only One" class="btn btn-secondary" />
                    <input type="submit" name="Whole Group" value="Whole Group" class="btn btn-success" />
                </div>
            {% else %}
                <input type="submit" name="Redeem" value="Redeem" class="btn btn-success" />
            {% endif %}
            </form>
        </div>
        <div class="col-md-6">
            <h1>Send Next Group in:</h1>
            <div id="clockdiv"></div>
            <progress value="0" max="{{ timer }}" id="progressBar"></progress>
        </div>
    </div>
</div>

<div class="container h-100 history">
    <h2>History</h2>
    <ul class="list-group">
        {% for each in history %}
        <li class="list-group-item d-flex align-items-center">
            {% if each.1 == 'error' %}
                <span class="badge badge-pill badge-warning mr-2">ERROR</span>
            {% elif each.1 == 'warning' %}
                <span class="badge badge-pill badge-primary mr-2">WARNING</span>
            {% elif each.1 == 'info' %}
                <span class="badge badge-pill badge-info mr-2">INFO</span>
            {% elif each.1 == 'success' %}
                <span class="badge badge-pill badge-success mr-2">SUCCESS</span>
            {% endif %}
            {{ each.0 }}
        </li>
        {% endfor %}
    </ul>
</div>
<script>
    const timer = {{ timer }};
    let timeleft = timer;
    let nextGroupTimer = setInterval(() => {
        document.getElementById('clockdiv').innerHTML = `<h2>${timeleft} seconds...</h2>`;
        document.getElementById('progressBar').value = timer - timeleft;
        if(timeleft <= 0) {
            document.getElementById('clockdiv').style.color = 'red';
            document.getElementById('clockdiv').innerHTML = `<h2>Send Now!</h2>`;
            clearInterval(nextGroupTimer);
        }
        timeleft -= 1;
    }, 1000);
</script>
{% endblock %}