{% extends 'base.html' %}

{% block content %}
<h1>Ticket: {{ object.id }}</h1>
<p>CouponCode: {{object.couponcode }}</p>
{% if object.activatednotes != None and object.activatednotes != '' %}
<p>ActivatedNotes: {{ object.activatednotes }}</p>
{% endif %}
{% if object.redeemeddate != None and object.redeemeddate != '' %}
<p>RedeemedDate: {{ object.redeemeddate }}</p>
{% endif %}
{% if object.voiddate != None and object.voiddate != '' %}
<p>VoidDate: {{ object.voiddate }}</p>
{% endif %}
{% if object.voidnotes != None and object.voidnotes != '' %}
<p>VoidNotes: {{ object.voidnotes }}</p>
{% endif %}
{% if object.ticketgroup != None and object.ticketgroup != '' %}
<p>TicketGroup: {{ object.ticketgroup }}</p>
{% endif %}
{% endblock %}