{% extends 'base.html' %}

{% block content %}
<div class="container h-100">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Ticket Number</th>
                <th>Ticket Code</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr class="table-default">
                    <td><a href="{{ ticket.get_absolute_url }}">{{ ticket.id }}</a></td>
                    <td>{{ ticket.couponcode }}</td>
                    <td>
                        {% if ticket.voiddate and ticket.voidnotes %}
                            <span class="badge badge-warning">VOID</span> on "{{ ticket.voiddate }}" - Notes: "{{ ticket.voidnotes }}"
                        {% elif ticket.voiddate and not ticket.voidnotes %}
                            <span class="badge badge-warning">VOID</span> on "{{ ticket.voiddate }}"
                        {% elif ticket.redeemeddate and not ticket.voiddate %}
                            <span class="badge badge-secondary">REDEEMED</span> on "{{ ticket.redeemeddate }}"
                        {% elif ticket.activateddate and ticket.activatednotes and not ticket.redeemeddate and not ticket.voiddate %}
                            <span class="badge badge-success">ACTIVATED</span> on "{{ ticket.activateddate }}" - Notes: "{{ ticket.activatednotes }}"
                        {% elif ticket.activateddate and not ticket.activatednotes and not ticket.redeemeddate and not ticket.voiddate %}
                            <span class="badge badge-success">ACTIVATED</span> on "{{ ticket.activateddate }}"
                        {% elif not ticket.activateddate and not ticket.redeemeddate and not ticket.voiddate %}
                            <span class="badge badge-dark">PENDING</span>NOT YET ACTIVATED
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if tickets.has_other_pages %}
        <div class="container h-100">
            <ul class="pagination pagination-lg">
            {% if tickets.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ tickets.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in pages %}
                {% if page == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            <!-- {% for i in tickets.paginator.page_range %}
                {% if tickets.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %} -->
            {% if tickets.has_next %}
                <li class="page-item"><a class="page-link" href="?page{{ tickets.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        </div>
    {% endif %}
</div>

{% endblock %}